::-webkit-scrollbar { 
    display: none; 
}

.html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navBarLink {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    border: 1px solid black;
}

.navBarLink:hover {
    color: lightskyblue;
    cursor: pointer;
}

.contactLink {
    text-decoration: none;
    color: black;
}

.contactLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.closeMenu {
    font-size: 25px;
    color: white;
    margin-right: 30px;
}

.closeMenu:hover {
    color: lightskyblue;
    cursor: pointer;
}

.menuIcon:hover {
    cursor: pointer;
}

.contactInput:focus::placeholder {
    color: transparent;
}

.contactInput:focus {
    outline: none
}